---
import Layout from "../../layouts/Layout.astro";
import {getCollection} from 'astro:content';
import {Image} from 'astro:assets';
import ClockIcon from '@/icons/time-line.svg';
import PostCard from "../../components/PostCard.astro";

interface Post {
    id: string;
    data: {
        title: string;
        description: string;
        publishDate: Date;
        tags: string[];
        cover: {
            src: ImageMetadata;
            alt?: string;
        };
    };
}
---

<Layout title="Luis Zapata | Portfolio" description="A simple portfolio created with Astro." scrollSmooth={false}>
    <>
        <!--Blog Section-->
        <section class="border-bottom">
            <div class="mb-4">
                <h2 class="text-3xl font-bold mb-8">All My Blog Posts</h2>
            </div>
        </section>

        <section class="flex flex-col gap-8">
          <p>No posts found.</p>
        </section>
    </>
</Layout>